/* Body.Landing-Page{
} */

Body.Landing-Page main {
    /* padding-top: 0px !important; */
}

Body.Landing-Page main>.Carousel-Section {
    width: 100% !important;
}

Body.Landing-Page main>.Carousel-Section .carousel-item img {
    object-fit: cover !important;
}

Body.Landing-Page main>.Carousel-Section button {
    position: absolute !important;
    top: 50% !important;
    transform: translate(-50%, unset);
    background-color: transparent !important;
}

Body.Landing-Page main>.Featured-Section>div.group {
    display: grid !important;
    width: 100% !important;
    overflow-x: auto !important;
    scroll-snap-type: x mandatory;
}

@media only screen and (min-width: 1267px) {
    Body.Landing-Page main>.Carousel-Section .carousel-item img {
        height: 600px !important;
    }
    Body.Landing-Page main>.Featured-Section>div.group {
        grid-template-columns: repeat(auto-fill, minmax(274.5px, 1fr)) !important;
    }
}

@media only screen and (max-width: 766px) {
    Body.Landing-Page main>.Featured-Section>div.group {
        grid-template-columns: repeat(auto-fill, minmax(148px, 1fr)) !important;
    }
    
}