.card 
    background-color: white !important
    scroll-snap-align: start !important
    border-radius: unset !important
    gap: 13px !important;
    border-radius: 0 !important

    > div 
        aspect-ratio: 1 !important
    
    > h2 
        justify-content: center !important