main div.group {
    width: 100% !important;
    gap: 8px !important;
    padding: 0 !important;
    flex-direction: column !important;
}

main div.group.row {
    flex-direction: unset !important;
}

main div.group.wrap {
    flex-wrap: wrap !important;
}
