header, header *:not( ul ):not( div.collapse, div.collapsing ){
    display: flex !important;
}
header {
    background-color: #357266 !important;
    width: 100% !important;
    height: 88px !important;
    justify-content: center !important;
}
header > .container {
    width: 100% !important;
    justify-content: space-between !important;
    align-items: center !important;
}
header > .container > nav > a {
    font-size: 18px !important;
    font-weight: 700 !important;
    text-decoration: none !important;
    padding: 18px !important;
}

@media only screen and (min-width: 1267px) {
    /* header {
    } */
    header > .container {
        max-width: 1823px !important;
        padding: 13px 33px !important;
    }
    header > .container > nav > a:hover {
        background-color: #851022;
        color: #357266 !important;
    }
}

@media only screen and (max-width: 766px) {
    /* header {
        flex-direction: column !important;
    } */
    header > .container {
        padding: 8px 13px !important;
    }
    header > .container > .burger {
        width: calc( 28px + ( 28px / 2 ) ) !important;
    }

}