a {
    color: #851022 !important;
    font-weight: 700 !important;
    text-transform: capitalize !important;
    cursor: pointer !important;
}
a:hover {
    text-decoration: underline !important;
    transition: .23s !important;
}