input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], input[type="datetime-local"], input[type="month"], input[type="url"], input[type="date"], input[type="time"],
select {
    position: relative !important;
    padding: 8px 13px !important;
    font-size: 15.5px !important;
    background-color: #eee !important;
    max-width: 228px !important;
    max-height: 38px !important;
}