main, main * {
    display: flex !important;
}

main {
    width: 100% !important;
    max-width: 1823px !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-self: center !important;
    padding: 13px 33px !important;
    min-height: calc( 100vh - 88px ) !important; 
    gap: 13px !important;
}

main.row {
    flex-direction: unset !important;
}

@media only screen and (min-width: 1267px) {
    main {
        max-width: 1823px !important;
        padding: 8px 13px !important;
    }
}

@media only screen and (max-width: 766px) {
    main {
        max-width: unset !important;
        padding: 8px 13px 13px !important;
    }
}