main section {
    width: 100% !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 8px !important;
    padding: 0 !important;
}
main section > .title {
    width: 100% !important;
    white-space: nowrap !important;
}
main section > .title > h1 {
    align-items: center !important;
}
main section > .title > .left,
main section > .title > .right { 
    width: 100% !important;
}
main section > .title > .right { 
    justify-content: flex-end !important;
}
/* main section > .title > .left > button,
main section > .title > .right > button { 
} */